body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/***************
   各要素削除
***************/
/* カットイン */
div[open],
/* キャラ */
.sc-ljpcOE,
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded,
/* モーダル */
[role="presentation"],
/* ヘッダー */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-bwcYJz,
/* 拡大縮小 */
.sc-enTruF,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar,
/* 新ダイス演出削除 */
.sc-gErihQ {
  display: none !important;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/* ポップアップ */
[role="tooltip"] * {
  font-size: 21px !important;
  max-width: 1280px;
  min-width: 720px;
  margin: 24px auto;
}