/******************************
  盤面全体（背景透過・キャラなし）
******************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/***************
   各要素削除
***************/
/* カットイン */
div[open],
/* 背景 */
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
/* キャラ */
.sc-gDyKqB,
.sc-hfVCuV,
.sc-ByBgr,
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded,
/* モーダル */
[role="presentation"],
/* ヘッダー */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-hUhpet,
/* 拡大縮小 */
.sc-cCwOyq,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar,
/* 新ダイス演出削除 */
.sc-gJFncE {
  display: none !important;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/* ポップアップ */
[role="tooltip"] * {
  font-size: 21px !important;
  max-width: 1280px;
  min-width: 720px;
  margin: 24px auto;
}