body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/***************
   各要素削除
***************/
/* 背景 */
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
/* 盤面 */
div[tabindex="0"]>div:nth-child(1),
/* キャラ */
.sc-juNKnw,
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded,
/* モーダル */
[role="presentation"],
/* ヘッダー */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-kOojCW,
/* 拡大縮小 */
.sc-ksXhwP,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.MuiPaper-elevation5,
/* スクロールバー */
::-webkit-scrollbar{
  display: none !important;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/* ポップアップ */
[role="tooltip"] * {
  font-size: 21px !important;
  max-width: 1280px;
  min-width: 720px;
  margin: 24px auto;
}
