/**************
https://ccfolia.com/rooms/部屋ID/character/キャラID　を指定
**************/
/* スクロールバー削除 */
::-webkit-scrollbar {
  display: none !important;
}

/* キャラアイコン削除 */
.MuiBadge-root {
  display: none;
} 

/* ステータス */
.sc-bAcsk{
  margin-left: 4px;
  /* 全体の横幅→ステータスバー+20くらいが〇 */
  /* ステータスバーの横幅の2倍以上にすれば横並びにできる */
  max-width: 100px;
  display: flex;
  flex-wrap: wrap;
}
.sc-TXRXB{
  /* ステータスバーの横幅 */
  width: 80px;
  position: relative;
  cursor: pointer;
}