/**************
https://ccfolia.com/rooms/部屋ID/characters/キャラID　を指定
**************/
:root {
    --status-column: 1;
    --status-height: 50px;
    --status-width: 250px;
    --status-background: var(--background-color, rgb(245, 245, 245));
    --status-font-color: rgb(66, 66, 66);
}

body.transparent {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* スクロールバー削除 */
::-webkit-scrollbar {
  display: none !important;
}

/* キャラアイコン削除 */
.MuiAvatar-root,
.MuiBadge-root {
  display: none;
} 

/* ステータス 全体 */
[variant="bar"] {
  max-width: 280px;
}

/* ステータス 個別 */
[variant="bar"]>div {
  height: 50px;
  width: 350px;
  overflow: hidden;
}

/* ステータス 背景 */
[variant="bar"]>div>div:nth-child(2)>div {
  height: var(--status-height);
  background: var(--status-background);
}

/* テキスト */
.MuiTypography-body2 {
  font-size: 2rem;;
  color: var(--status-color);
  display: flex;
  align-items: center;
  padding: 10px;
  flex-shrink: 1;
}