body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
  }
  
  /* 各要素削除 */
  div[open],
  .MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
  div[tabindex="0"]>div:nth-child(1),
  .sc-juNKnw,
  .MuiDrawer-root.MuiDrawer-docked,
  [role="presentation"],
  header>.MuiToolbar-gutters,
  .sc-kOojCW,
  .sc-ksXhwP,
  .MuiButtonBase-root.MuiFab-root,
  .MuiSnackbar-root,
  .MuiPaper-elevation5,
  ::-webkit-scrollbar,
  .sc-gJFncE {
    display: none !important;
  }
  div[tabindex="0"] {
    width: 100% !important;
  }
  
  /* 全体の設定 */
  .MuiPaper-root {
    max-width: 1080px;
    background-color: transparent;
  }
  
  /* タイトル */
  .MuiTypography-subtitle2,
  .MuiTypography-body2 {
    font-size: 1.8rem;
  }
  .MuiToolbar-gutters {
    padding: 12px 24px;
  }
  
  /* ログ */
  .MuiTypography-body1 {
    background-color:  transparent;
    font-size: 2rem;
  }
  .MuiToolbar-root+div {
    padding: 0px 24px 16px;
    height: 240px;
  }
  
  /* アイコン等削除 */
  .MuiIconButton-label {
    display: none;
  }
  .MuiIconButton-edgeEnd {
    display: none;
  }
  .MuiPaper-root>img {
    display: none;
  }
  
/* ダイス画像削除 */
.sc-enTruF{
  display: none;
}